body {
  margin: 0px;
  background-image: url("https://i.pinimg.com/736x/10/24/a1/1024a1795aa55ea1f41664009db3435f.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}




img {
  display: none;
}
